---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Get Involved - OpenToonz">
  <h1>Get Involved</h1>
  <p>Translations</p>
  <a href="https://github.com/opentoonz/opentoonz/issues">Developers forum</a>
  <a href="https://github.com/opentoonz/opentoonz">Repositories</a>
  <a href="https://github.com/opentoonz/plugin_sdk"
    >Effects plug-in development procedures</a
  >
</Layout>

<style></style>
