---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Get Involved - OpenToonz">
  <h1>Get Involved</h1>
  <p>Translations</p>
  <p>Developers</p>
  <p>Repositories</p>
  <p>Effects plug-in development procedures</p>
</Layout>

<style></style>
