---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Support - OpenToonz">
  <h1>Support</h1>
  <p>Documentation</p>
  <p>Comunity Forum</p>
  <p>Report a Bug</p>
</Layout>

<style></style>
