---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Support - OpenToonz">
  <h1>Support</h1>
  <a href="https://opentoonz.readthedocs.io">Documentation</a>
  <a href="https://groups.google.com/forum/#!forum/opentoonz_en"
    >Comunity Forum</a
  >
  <a href="https://github.com/opentoonz/opentoonz/issues">Report a Bug</a>
</Layout>

<style></style>
