---
interface Props {
  className?: string;
  id?: string;
}
const { id, className, ...props } = Astro.props;

const circle = className?.includes("circle");
const white = className?.includes("white");

const windows = className?.includes("windows");
const macos = className?.includes("macos");
---

<button
  {...props}
  id={id}
  class={`${circle ? "circle" : ""} ${white ? "white" : ""} ${windows ? "windows" : ""} ${macos ? "macos" : ""} ${className}`}
>
  <slot />
</button>

<style>
  button {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    min-height: 40px;
    min-width: 40px;
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-md) var(--spacing-lg);
    gap: var(--spacing-md);

    border-radius: var(--rounded-md);

    background-color: var(--primary-color);
    color: #ffffff;

    cursor: pointer;

    font-size: 18px;
    line-height: 18px;
  }

  button:hover,
  button:active {
    background-color: var(--primary-hover-color);
  }

  .circle {
    max-width: 40px;
    max-height: 40px;
    padding: var(--spacing-md);
    border-radius: var(--rounded-full);
  }

  .white {
    background-color: var(--background-color);
    color: var(--dark-color);

    svg {
      stroke: var(--dark-color);
    }
  }

  .white:hover,
  .white:active {
    background-color: var(--white-color);
  }

  .windows {
    background-color: var(--windows-color);
  }

  .windows:hover,
  .windows:active {
    background-color: var(--windows-hover-color);
  }

  .macos {
    background-color: var(--macos-color);
    color: var(--dark-color);
  }

  .macos:hover,
  .macos:active {
    background-color: var(--macos-hover-color);
  }
</style>
