---
import Link from "./Link.astro";

/** Icons */
import MenuCollapse from "../../assets/icons/MenuCollapse.astro";
import MenuExpand from "../../assets/icons/MenuExpand.astro";
import Logo from "../../assets/Logo.astro";
---

<script>
  const nav = document.getElementById("navbar") as HTMLDivElement;
  const menu = document.getElementById("menu") as HTMLButtonElement;

  const close = document.getElementById("close") as HTMLButtonElement;
  const open = document.getElementById("open") as HTMLButtonElement;

  menu.addEventListener("click", () => {
    // Toggle navbar
    const isActive = nav.classList.toggle("active");
    menu.classList.toggle("active");

    // Toggle icons
    close.style.display = isActive ? "block" : "none";
    open.style.display = isActive ? "none" : "block";
  });

  // Close navbar on click outside
  document.addEventListener("mousedown", (e) => {
    if (!nav.contains(e.target as Node) && !menu.contains(e.target as Node)) {
      if (nav.classList.contains("active")) {
        // Toggle navbar
        nav.classList.remove("active");
        menu.classList.remove("active");

        // Toggle icons
        close.style.display = "none";
        open.style.display = "block";
      }
    }
  });
</script>

<header>
  <a href="/">
    <Logo />
  </a>
  <nav id="navbar">
    <Link href="/features">Features</Link>
    <Link href="/download">Download</Link>
    <Link href="/support">Support</Link>
    <Link href="/get-involved">Get Involved</Link>
    <Link href="/about">About</Link>
  </nav>
  <button id="menu">
    <MenuCollapse id="close" />
    <MenuExpand id="open" />
  </button>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height: 60px;
    width: 100%;
    background-color: var(--white-color);
    transition: top 0.3s ease-in-out;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
  }

  nav.active {
    opacity: 1;
    visibility: visible;
  }

  #menu {
    display: none;
    cursor: pointer;
    visibility: hidden;
    stroke: var(--lightdark-color);
  }

  #close {
    display: none;
  }

  #open {
    display: block;
  }

  #close.active,
  #open.active {
    display: block;
  }

  a {
    color: var(--lightdark-color);
    text-decoration: none !important;
  }

  a:hover {
    color: var(--primary-color);
  }

  @media screen and (max-width: 768px) {
    header {
      padding: 0 50px;
    }

    #menu {
      display: block;
      visibility: visible;
    }

    nav {
      position: absolute;
      top: -400px;
      left: 0;
      z-index: -100;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;
      max-height: 100vh;
      width: 100%;
      background-color: var(--white-color);
      transform-origin: top;
      transition: all 0.3s ease-in-out;
    }

    nav.active {
      top: 60px;
    }
  }
</style>
